.md-header 
{
	background-color: rgb(243, 114, 35);
	
}

.md-tabs
{
	background-color: rgb(252, 142, 76);
}

.md-typeset h1
{
	color: rgb(243, 114, 35);
}

.md-typeset h2
{
	color: rgb(243, 114, 35);
}

.md-typeset h3
{
	color: rgb(243, 114, 35);
}